TELEGRAM_TOKEN=putyourtelegramtokenhere
TIKET_TRAIN_WEB=tiketwebsite
KERETA_API_WEB=keretaapiwebsite
BL_PRODUCT_SEARCH=endpointblproductsearch
FOURSQUARE_CLIENT_ID=id
FOURSQUARE_CLIENT_SECRET=secret
TIKET_WEB=tiket_web